<mat-tab-group mat-align-tabs="center">
  <mat-tab label="توضیحات ">
    <div class="body-text">
      <h1>⚙️وب ورکر چیه ؟</h1>
      <p>
        در اگر بخوایم کامل تر حرف بزنیم وب ورکر یکی از 5 نوع ورکری هست که در
        جاوا اسکریپت وجود داره :
      </p>
      <div>
        <ul>
          <li>Service workers</li>
          <li>Shared workers</li>
          <li>Web workers</li>
          <li>Inline Workers</li>
          <li>Dedicated Workers</li>
        </ul>
      </div>
      <p style="width: 100%">
        و سوالی که پیش میاد اینه که خود ورکر چیه اصلا ؟!
      </p>
      <p>
        ورکر ها این اجازه رو به ما میدن که خارج از thread اصلی برنامه بتونیم
        کارایی انجام بدیم. مثلا کاری که در تب بعدی انجام دادیم این بوده که تعداد
        زیادی داده رو توی دیتا بیس های مختلف ذخیره میکنیم ولی وقتی از thread
        اصلی استفاده میکنیم میبینیم که DOM بلاک میشه و اون اسپینر بالا حرکتش
        مختل میشه ولی وقتی شروع به انجام این عملیات توی وب ورکر میکنیم دیگه این
        مشکل رو نداریم .
      </p>
      <p>
        این یک مثال خیلی خوبه که میتونه عملکرد ورکر ها رو به خوبی نشون بده .
      </p>

      <h1>استفاده از Web-Worker</h1>
      <p>
        برای استفاده از یک Web-Worker میتوان به کمک Angular CLI در آدرس مورد نظر
        یک ورکر بسازیم و به صورت زیر با آن ارتباط برقرار کنیم :
      </p>
      <img src="../../assets/images/web-worker.png" alt="" />
    </div>
  </mat-tab>
  <mat-tab label="تست کردن ">
    <section class="show-case">
      <section class="animation">
        <app-animation></app-animation>
      </section>
      <app-database-form></app-database-form>
      <div class="fix-db-tot"></div>
    </section>
  </mat-tab>
</mat-tab-group>
