<div class="body-text">
  <h1>ویژگی های نیتیو</h1>
  <p>
    در جاوا اسکریپت میتوان به راحتی به ویژگی های اپ های نیتیو مانند دوربین ،
    موقعیت مکانی ، بلوتوث و ... دسترسی داشت که استفاده و کار کردن با آنها بسیار
    ساده است .
  </p>
  <p>
    یکی از از راه هایی ک میتوان از این قابلیت ها استفاده کرد استفاده از
    capacitor است که با موجود بودن تعداد زیادی Plugin برای آن میتوان نرم افزار
    های زیادی به راحتی تولید کرد
  </p>
  <p>
    برای مثال به کمک آن یه برنامه ی اسکن بارکد نوشتم که میتوانید از لینک زیر آن
    را
    <a
      style="color: white"
      href="https://firebasestorage.googleapis.com/v0/b/masoud-pwa.appspot.com/o/qr-scanner.apk?alt=media&token=af912e61-2cdd-465e-b3c2-06c4c1dbea9c"
    >
      از اینجا
    </a>
    دانلود کنید
  </p>
</div>
<div class="footer-fixer">
  <br />
  <br />
  <br />
  <br />
  <br />
</div>
