<mat-toolbar color="primary">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer position="end" #drawer mode="side">
    <mat-selection-list [multiple]="false">
      <div mat-subheader>Folders</div>
      <!-- db -->
      <mat-list-option [routerLink]="['']">
        <mat-icon mat-list-icon> manage_accounts </mat-icon>
        <h2>خانه</h2>
      </mat-list-option>
      <mat-list-option [routerLink]="['database']">
        <mat-icon mat-list-icon> manage_accounts </mat-icon>
        <h2>دیتا بیس</h2>
      </mat-list-option>
      <!-- db -->
      <mat-list-option [routerLink]="['notification']">
        <mat-icon mat-list-icon> manage_accounts </mat-icon>
        <h2>نوتیفیکیشن</h2>
      </mat-list-option>
      <!-- db -->
      <mat-list-option [routerLink]="['cache']">
        <mat-icon mat-list-icon> manage_accounts </mat-icon>
        <h2>کش</h2>
      </mat-list-option>
      <!-- db -->
      <mat-list-option [routerLink]="['native-features']">
        <mat-icon mat-list-icon> manage_accounts </mat-icon>
        <h2>ویژگی های نیتیو</h2>
      </mat-list-option>
      <mat-divider></mat-divider>
      <div mat-subheader>Notes</div>
      <!--  -->
      <mat-list-option [routerLink]="['about-me']">
        <mat-icon mat-list-icon>note</mat-icon>
        <h2>درباره من</h2>
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>

  <router-outlet></router-outlet>
</mat-drawer-container>

<footer></footer>
