<mat-tab-group mat-align-tabs="center">
  <mat-tab label="توضیحات ">
    <div class="body-text">
      <h1>نوتیفیکیشن 🔔</h1>
      <p>
        از دیگر قابلیت های جذاب PWA میتوان به ارائه نوتیفیکیشن با شخصی سازی بالا
        و همیچنین Push Notification اشاره کرد .
      </p>
      <p>
        میتوان عکس و دکمه به نوتیفیکیشن ها اضافه کرد و همچنین قابلیت باز کردن یک
        صفحه وب به کمک دکمه ها وجود داد.
      </p>
      <p>
        در تب بعدی میتوانید انواع گزینه ها و آپشن های نوتیفیکیشن را امتحان کنید
        .
      </p>
      <p>برای ایجاد یک نوتیفیکیشن معمولی میتوان به صورت زیر عمل کرد :</p>
      <img src="../../assets/images/simple notification.png" alt="" />
      <p>
        در صورتی که میتوان به کمک سرویس ورکر ها یک نوتیفیکیشن کاملا شخصی سازی
        شده ایجاد کرد :
      </p>
      <img src="../../assets/images/sw notification.png" alt="" />
      <br />
      <h1>Push Notification 🛎️</h1>
      <p>
        پوش نوتیفیکیشن یکی از جذاب ترین ویژگی ها PWA است که اگر به صورت درست
        استفاده شود میتواند بسیار کار آمد و مفید باشد .
      </p>
      <p>
        برای این کار نیاز به یک کلید VAPID داریم تا امنیت ارتباط ما با سرور
        تامین شود و با ساخت یک Subscription برای Push Notification میتوان
        نوتیفیکیشن ها را به راحتی دریافت کرد .
      </p>
      <p>
        این کار را میتوان به کمک SWPush که توسط خود انگولار فراهم شده انجام داد
        .
      </p>
      <h1>توجه</h1>
      <p>
        برای اعلان یک نوتیفیکیشن مرورگر از شما اجازه را کسب خواهد کرد لذا
        خواهشمندم قبل از تست از فعال بودن نوتیفیکیشن مرورگز در تنظیمات سیستم
        عامل اطمینان حاصل فرمایید .
      </p>
    </div>
    <div class="fix-notif"></div>
  </mat-tab>
  <mat-tab label="تست">
    <app-notification></app-notification>
    <div class="gap-fill"></div>
  </mat-tab>
</mat-tab-group>
