<section class="body-text">
  <h1>وب اپلیکیشن پیش رونده یا PWA چیست؟</h1>

  <img src="../../assets/images/pwa_article_1.png" alt="pwa" />
  <!-- <br /> -->
  <p>
    خب بیاین با یه توضیح مختصر از اپلیکیشن های Native و اپلیکیشن های تحت وب شروع
    کنیم : به اون اپلیکیشن هایی که رو گوشیتون نصب میکنید و با استفاده از زبان
    Object-C برای IOS و Java برای اندروید نوشته میشن اپلیکیشن های Native میگن ،
    مزیت این اپلیکیشن ها اینه که خیلی پایدار ترن ، سرعت و عملکرد بهتری دارن و به
    تجهیزات گوشیتون (دوربین ، میکروفون و ...) متصل میشن حالا در مقابل اپلیکیشن
    های تحت وب رو داریم که با Html ، Css و Javascript نوشته میشن و سرعت و عملکرد
    اپلیکیشن های نصب شده رو گوشیتون رو ندارن ولی خیلی پویا تر از اپلیکیشن های
    Native هستن. بزارین سادش کنیم شاید سایت مورد علاقتون رو فردا صبح باز کنید
    ببینید کلی قابلیت جدید بهش اضافه یا کلا ظاهرش عوض شده ولی اپلیکیشن های
    Native این قابلیت رو ندارن برای این کار شما واسه هر تغییر مجبورید نسخه جدید
    اون اپلیکیشن رو از App Store دانلود کنید. خب الان توضیح PWA (Progressive Web
    Apps) یا همون اپلیکیشن های پیشرونده ساده تر شد کافیه قابلیت اپلیکیشن های
    Native و تحت وب رو یکجا داشته باشیم تا به اون اپلیکیشن بگیم پیشرونده یعنی
    عملکرد و سرعت Native و پویایی تحت وب !
  </p>

  <p>
    مزیت های دیگه ای هم این اپلیکیشن ها نسبت به بقیه دارن که چندتاشو مرور میکنیم
    :
  </p>

  <ol>
    <li>
      این برنامه ها کاملا تطبیق پذیر (Responsive) هستن یعنی رو تمام دستگاه ها
      مثل کامپیوتر ، موبایل ، ساعت هوشمند و حتی دستگاه هایی که در آینده ساخته
      میشن هم قابل نمایش و استفاده هستند .
    </li>
    <li>
      با کمک Service Worker ها PWA میتونه در شرایط ارتباطی ضعیف حتی بدون اینترنت
      هم سرویس دهی کنه.
    </li>
    <li>
      خدمات PWA ها همواره از طریق HTTPS ارائه میشه تا با بکارگیری رمزگذاری، هیچ
      شخصی بدون مجوز مناسب قادر به ایجاد اختلال تو برنامه شما نباشه .
    </li>
    <li>
      ویژگی هایی همچون Push Notifications، که در اپلیکیشن های Native هست در
      پیشرونده هم وجود داره.
    </li>
  </ol>
  <p>
    تنها ایرادی که به اونها وارده محدود بودن فعلی دسترسی شون به امکانات دستگاهه
    و این که شرکت اپل اونها رو فعلا به اندازه اندروید پشتیبانی نمیکنه که البته
    برنامه نویساش کم کم دارن دست به کار میشن میشه این پیشگویی رو کرد که تا چند
    سال آینده PWA ها طیف خیلی گسترده ای از اپلیکیشن هارو در بر بگیرن چون تا همین
    الان هم استقال خیلی خوبی از سمت کاربران ازین اپلیکیشن ها شده هم در نسخه های
    خارجی مثل اوبر، پینترست و هم در ایران و اپلیکیشن های مثل روبیکا ، اسنپ و...
  </p>
  <h1>حالا این سایت چیه ؟ 🤔</h1>
  <p>
    توی این سایت تعدادی از قابلیت های PWA پیاده و آموزش داده شده تا منبع و مثال
    خوبی باشه برای برنامه نویسا !
  </p>
  <p>میتونید کد های این سایت رو توی گیت هابم پیدا کنید</p>
  <p>حالا لطف کنید و از منوی همبرگری کنار از بخش های مختلف سایت دیدن کنید 😄</p>
</section>
